body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #000b16;
}

.top{
    background-color: #2B2E42;
    height: 100%;
    width: 65%;
    margin-left: 17.5%;
}

.menu{
    background-color: #9e0025;
    position: absolute;
    height: 10%;
    width: 65%;
    margin-top: 5%;
    margin-left: 17.5%;
}

.menu,.top{
    align-items: center;
}

img{
    height: 7%;
    width: auto;
    margin-top: 1%;
    margin-left: 39%;
}

h1{
    position: absolute;
    color: aliceblue;
    margin-left: 2%;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top:15px;
}

h1,img{
    display: inline-block;
}

.flag{
    width: auto;
    height: 50px;
    margin-left: 1%;
}

li{
    display: inline-block;
}

ul{
    list-style-type:none;
}

#al,#us,#ru{
    margin-left: 50px;
}

#carrousel {
    width: 48%;
    height: 55%;
    border: solid 4px #9e0025;
    position: absolute;
    margin-left: 26%;
    margin-top: 15%;
}

#container_images {
    width: 48%;
    height: 48%;
}

.button {
    margin-top: 0%;
    position: absolute;
    cursor: pointer;
}

#left_arrow {
    margin-left: 95%;
}

#right_arrow {
    transform: rotate(3.142rad);
    margin-left: 1%;
}

#right_arrow:hover {
    filter: contrast(50%);
}

#left_arrow:hover {
    filter: contrast(50%);
}

#carou {
    width: 208%;
    height: 208%;
    margin: 0.07%;
}