body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.top{
    background-color: #2B2E42;
    height: 100%;
    width: 65%;
    margin-left: 17.5%;
}

.menu{
    background-color: #D80536;
    position: absolute;
    height: 10%;
    width: 65%;
    margin-top: 5%;
    margin-left: 17.5%;
}

.menu,.top{
    align-items: center;
}

img{
    height: 7%;
    width: auto;
    margin-top: 1%;
    margin-left: 30%;
}