body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #000b16;
}

.top{
    background-color: #2B2E42;
    height: 100%;
    width: 65%;
    margin-left: 17.5%;
}

.menu{
    background-color: #D80536;
    position: absolute;
    height: 10%;
    width: 65%;
    margin-top: 5%;
    margin-left: 17.5%;
}

.menu,.top{
    align-items: center;
}

img{
    height: 7%;
    width: auto;
    margin-top: 1%;
    margin-left: 32%;
}

h1{
    position: absolute;
    color: aliceblue;
    margin-left: 5%;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top:15px;
}

h1,img{
    display: inline-block;
}